---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div id='top'></div>
<ul>
    <li><a href="#teaching-style">
        <i aria-hidden="true" class="fas fa-fw fa-arrow-down"></i>Teaching Style</a>
    </li>
    <li><a href="#courses">
        <i aria-hidden="true" class="fas fa-fw fa-arrow-down"></i>Courses</a>
    </li>
    <li>
        <a href="#teaching-experience">
        <i aria-hidden="true" class="fas fa-fw fa-arrow-down"></i>Teaching Experience</a>
    </li>
</ul>

<div id='teaching-style'></div>

<hr>
<br>
<br>
<h1>Teaching Style<a href="#top"><i aria-hidden="true" class="fas fa-fw fa-arrow-up"></i></a></h1>

<figure style="float:right; max-width: 600px">
    <img alt="Students doing Marshmallow Challenge as part of the in-class exercise."
         src='/images/teaching/marshmallowChallenge.jpg'>
    <figcaption>Students taking part of the Marshmallow Challenge that I championed to include in the class. See the
        accompanying slides <a
                href="https://docs.google.com/presentation/d/1wsbhfdzBf4PKueTyjiJlrWxOs6yT8MRHpN3qEHvzH-Y/">
            <i aria-hidden="true" class="fas fa-fw fa-link"></i>Marshmallow Challenge</a> on its relevance to the class
    </figcaption>
</figure>


<p>
    My lectures are designed to be 30 to 50 minutes in length.
</p>

<p>
    My presentation slides minimize the use of long paragraphs and texts. Emphasis is placed on having one central idea
    in each slide, with visuals when possible.
</p>

<p>
    A typical 50-minute lecture may make use of 100+ slides. For example, my <a href="../talks/2023-05-24-lecture">
    <i aria-hidden="true" class="fas fa-fw fa-arrow-right"></i>Game Genres & Innovation lecture </a>, designed for a
    class that is 3 hours in length, is roughly 178 slides and delivered over the course of 90 minutes. It can
    alternatively be delivered as two part lectures to accomodate for 50-minute classes.
</p>

<p>
    In-class exercises (ICE) are used during or after the lecture to provide timely opportunities for students to put
    what they are learning into practice.
</p>
<style>
    #statements {
        margin-left: 50px;
    }
</style>

<div id="statements">
    <h2>Statements</h2>
    <ul>
        <li>
            <a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">
                <i aria-hidden="true" class="fas fa-fw fa-link"></i></a>
            <a href="../files/statements/Teaching Statement 08_05_2024.pdf">
                <i aria-hidden="true" class="fa-regular fa-file"></i></a>
            Teaching Statement
        </li>
        <li>
            <a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">
                <i aria-hidden="true" class="fas fa-fw fa-link"></i></a>
            <a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">
                <i aria-hidden="true" class="fa-regular fa-file"></i></a>
            DEI Statement
        </li>
        <li>
            <a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">
                <i aria-hidden="true" class="fas fa-fw fa-link"></i></a>
            <a href="../files/statements/Research Statement 08 05 2024.pdf">
                <i aria-hidden="true" class="fa-regular fa-file"></i></a>
            Research Statement
        </li>
        <li>
            <a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">
                <i aria-hidden="true" class="fas fa-fw fa-link"></i></a>
            <a href="../files/statements/Selected Research and Creative Work 08_05_2024.pdf">
                <i aria-hidden="true" class="fa-regular fa-file"></i></a>
            Selected Research and Creative Work
        </li>
    </ul>
</div>

<hr>
<div id='courses'></div>
<hr>
<h1>Courses<a href="#top"><i aria-hidden="true" class="fas fa-fw fa-arrow-up"></i></a>
</h1>
While I can teach a variety of classes, I have the most experience in teaching project-based classes.
The project-based classes are designed to be composed of 5 modules.
I am interested in teaching areas such as Extended Reality, Game Design, Game Engineering, Artificial Intelligence,
and Human Computer Interaction.

<p>In particular, I am interested in teaching the following courses in each area
<ul>
    <li><b>Extended Reality</b>
        <ul>
            <li>Introduction to Extended Reality</li>
            <li>Spatial User Interface
                <ul>
                    <li>Based on my Ph.D. Dissertation <a href="../../publication/2024-01-26-phd">
                        <i aria-hidden="true" class="fas fa-fw fa-arrow-right">
                        </i>"Design Lenses for 3D User Interfaces in Extended Reality"</a>
                        <!--
                        <a href="https://docs.google.com/presentation/d/1edZJlYlRQs6ulw2Xz0wyg3GKQvHk_BXU6HpoBOQ31T4/edit?usp=sharing">PhD dissertation
                        <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
                        -->
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li><b>Game Design</b>
        <ul>
            <li>Introduction to Game Design</li>
            <li>Tabletop Game Design
                <ul>
                    <li>My developing hobby - see <a
                            href="https://docs.google.com/document/d/1yE3UHDJB2TIUaLWQSUkSK-cO_dg5cdq_6roOVqEz-4I/edit">
                        <i aria-hidden="true" class="fas fa-fw fa-link"></i>Course Design Document (Work in
                        Progress)</a></li>
                </ul>
            <li>Experimental Games</li>
            <li>Cooperative Games</li>
        </ul>
    </li>
    <li><b>Game Engineering</b>
        <ul>
            <li>Mobile Games</li>
            <li>Networked Games</li>
            <li>Game Prototyping</li>
        </ul>
    </li>
    <li><b>Artificial Intelligence</b>
        <ul>
            <li>Artificial Intelligence in Games</li>
            <li>Machine Learning in Games</li>
        </ul>
    </li>
    <li><b>Human-Computer Interaction</b>
        <ul>
            <li>Human Subject Research</li>
            <li>Methods and Analysis for Playtesting</li>
        </ul>
    </li>
</ul>

<hr>
<div id='teaching-experience'></div>
<hr>

<h1>Teaching Experience<a href="#top"><i aria-hidden="true" class="fas fa-fw fa-arrow-up"></i></a></h1>
As a teaching assistant, I have done the grunt work as well as the work of instructors of giving lectures, course planning, creating the syllabus and lessons, and restructuring classes.

Of recent, I regularly give lectures to a class of 90 students and work with masters students that serve as course producers and graders to ensure the class is running smoothly and always improving.

Below is a retrospective of my time at USC and how each time period how shaped the way I teach now.

{% include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}


<!-- previous format for teaching statements -->

<!--
<br>Teaching Statement
<a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Teaching Statement 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>

<br>DEI Statement
<a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>

<br>Research Statement
<a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Research Statement 08 05 2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>

<br>Selected Research and Creative Work
<a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Selected Research and Creative Work 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>
 width="700" height="400" -->
<!--
<h2>Statements</h2>
<a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Teaching Statement 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>
Teaching Statement

<br>
<a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>
DEI Statement

<br>
<a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Research Statement 08 05 2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>
Research Statement

<br>
<a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">
  <i class="fas fa-fw fa-link" aria-hidden="true"></i></a>
<a href="../files/statements/Selected Research and Creative Work 08_05_2024.pdf">
  <i class="fa-regular fa-file" aria-hidden="true"></i></a>
Selected Research and Creative Work

<br>
-->
<!--
<p>
  
</p>

<table>
  <tr>
    <th>Statements</th>
    <th>Latest Version</th>
    <th>PDF</th>
  </tr>
  <div></div>
  <tr>
    <td>Teaching Statement</td>
    <td><a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">Latest Version</a></td>
    <td><a href="../files/statements/Teaching Statement 08_05_2024">PDF</a></td>
  </tr>
  <tr>
    <td>DEI Statement</td>
    <td><a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">Latest Version</a></td>
    <td><a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">PDF</a></td>
  </tr>
  <tr>
    <td>Research Statement</td>
    <td><a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">Latest Version</a>
    <td><a href="../files/statements/Research Statement 08 05 2024.pdf">PDF</a>
  </tr>
  <tr>
    <td>Selected Research and Creative Work</td>
    <td><a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">Latest Version</a>
    <td><a href="../files/statements/Selected Research and Creative Work 08_05_2024.pdf">PDF</a>
  </tr>
</table>
-->
<!--
<h1>Statements</h1>
<p>Teaching Statement
  <br><a href="https://docs.google.com/document/d/1q9jEYOf8GDHUQFpTzmE9ndA3cSlWPWQ8bbgkO2voD2w/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Teaching Statement 08_05_2024">PDF</a>
<p>DEI Statement
  <br><a href="https://docs.google.com/document/d/13n5FgoGHrkQOX-zaeZj5XahGm0ANwrfQjJHIJwiTG6w/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Diversity, Equity, and Inclusion Commitment Statement DEI 08_05_2024.pdf">PDF</a>
<p>Research Statement
  <br><a href="https://docs.google.com/document/d/1OxRqk0Z0x6WNBEoEZ8ho4YnWviNE0iP5TUSB6nbGllk/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Research Statement 08 05 2024">PDF</a>
<p>Selected Research and Creative Work
  <br><a href="https://docs.google.com/document/d/1HhYwMPk0qyhOnXEUwatXQvvFDsNM1TTha_ybmZWdlXU/edit?usp=sharing">Latest Version</a>
  <br><a href="../files/statements/Selected Research and Creative Work 08_05_2024">PDF</a>
</p>
-->
